<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="KontaktyKS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <KontaktyKS.Properties.Settings>
            <setting name="DataBasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="baseXmlPath" serializeAs="String">
                <value>C:\kontaktyKS\xml\MyConnections.xml</value>
            </setting>
            <setting name="primaryWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="primaryHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="colorStyle1" serializeAs="String">
                <value>#443344</value>
            </setting>
            <setting name="MinimalizeWindowPosition" serializeAs="String">
                <value>0,0</value>
            </setting>
        </KontaktyKS.Properties.Settings>
    </userSettings>
</configuration>
